<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table border="5" style="padding: 15px;">
    <% for (const result of results) { %>
        <tr>
          <td>
            이름
          </td>
          <td>
              <%= result.ENAME %>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
