<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lgcheck</title>
</head>
<body>
    <center>
        <h1>로그인에 실패하셨습니다!!</h1>
        <br>
        <br>
        <h1>입력한 데이터가 확인되지 않았으니,</h1>
        <br>
        <br>
        <h1>회원가입이 정상적으로 처리된 ID , PW 인지 확인해주십시요.</h1>
    </center>
</body>
</html>