    
<html>
        <head>
            <meta charset="utf-8" />
            <title>login2</title>
            <style>
                header h1 {
                        margin: 30px;
                }
                .top {
                        border-bottom:5px solid aquamarine;
                }
                .base {
                        padding:50px;
                        background-color:orange;
                }
            </style>
        </head>
        <body class="base">
            <center>
            
                <h1>Login Page!</h1>
                <form method="post" action="/lgcheck">
                    <table>
                        <tr>
                            <td><label>ID : </label></td>
                            <td><input type="text" id="id" name="id"></td>
                        </tr>
                        <tr>
                            <td><label>PW : </label></td>
                            <td><input type="password" id="passwords" name="passwords"></td>
            
            
                        </tr>
                        
                        <tr>
                            <td><input type="button" id="checkbt" value="check!!" onclick="check()"></td>
                            <td><input type="submit"  id="mysubmit" value="Submit" name=""></td>
                        </form>
                        <form action="/register">
                            <td><input type="submit" value="회원가입하러가기"></td>
                        </form>
                        </tr>
            
                    </table>
            
                
            </center>
            <script>
                    document.getElementById("mysubmit").disabled = true;
                    function check() {
                        if(document.getElementById("id").value.length > 9 && document.getElementById("id").value.indexOf('@') > 0) {
                            alert('정상적인 ID 값을 입력했습니다.');
                            if(document.getElementById("passwords").value.length >= 5) {
                                alert('정상적인 PW 값을 입력했습니다.');
                                document.getElementById("mysubmit").disabled = false;
                            } else {
                                alert('비정상적인 PW 값을 입력했습니다.');
                            }
                        } else {
                            alert('비정상적인 ID 값을 입력했습니다.');
                    }
                };
            </script>
        </body>
        </html>

         
 

