    
<html>
        <head>
            <meta charset="utf-8" />
            <title>login2</title>
            <style>
                header h1 {
                        margin: 30px;
                }
                .top {
                        border-bottom:5px solid aquamarine;
                }
                .base {
                        padding:50px;
                        background-color:orange;
                }
            </style>
        </head>
        <body class="base">
            <center>
            
                <h1>Login Page!</h1>
                <form method="post" action="/lgcheck">
                    <table>
                        <tr>
                            <td><label>ID : </label></td>
                            <td><input type="text" name="id"></td>
                        </tr>
                        <tr>
                            <td><label>PW : </label></td>
                            <td><input type="password" name="passwords"></td>
            
            
                        </tr>
            
                        <tr>
                            <td><input type="submit" value="Sumit" name=""></td>
                        </tr>
            
                    </table>
            
                </form>
            </center>
        </body>
        </html>