<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>register</title>
    <style>
        .main {
            border-bottom:5px solid blue;
        }
        .gender {
            display:block;
        }
    </style>
    <script>
        
    </script>
  </head>
  <header>
      <div class="main">
        <center><h1 style="color:gold;">회원가입페이지</h1></center>
        </div>
  </header>
  <body style="background-color: orange;">
    <form method="POST" action="/login2">
        <p>이름</p>
        <input type="text" name="name" placeholder="name">
        <p>나이</p>
        <input type="number" name="age" placeholder="age">
        <p>당신의 생일</p>
        <input type="date" name="birth" placeholder="birth">
        <p>집주소</p>
        <input type="text" name="adress" placeholder="adress">
        <p>우편번호</p>
        <input type="text" name="post" placeholder="post">
        <p>취미</p>
        <input type="text" name="hobby" placeholder="hobby">
        <p>핸드폰번호</p>
        <input type="text" name="phone" placeholder="phone">
        <p>E-Mail</p>
        <input type="text" name="email" placeholder="Email Address">
        <br>
        <br>
        <input type="password" name="pw" id="Pass" value=""/ placeholder="password를 입력하세요.">
        <br>
        <input type="password" id="pass2" value=''/ placeholder="한번 더 입력해주세요.">
        <br>
        <button onclick="passcheck()" style='border:0; background-color: crimson; color:gold;'>비밀번호 를 검사하세요.</button>
        <p style="color:red;"id='errpass'></p>
        <br>
        <input type="submit" value="submit!">
    </form>
  </body>
</html>
