<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LGsuccess</title>
</head>
<body>
    <center>
        <h1>당신의 아이디는</h1>
        <h1><%= id %> 입니다.</h1>
        <a href='/'><h1>리스트로 가기</h1></a>
        <a href="/notice"><h1>게시판으로 이동</h1></a>
        <form action="/delete" method="POST">
            <input type="submit" value="회원탈퇴 하기">
        </form>
    </center>
</body>
</html>