<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <style>
        input{
            padding: 20px;
        }
        .button{
            padding-left: 200px;
            padding-right: 200px;
        }
    </style>
</head>
<body>
    <center>
        <form action="/board/up" method="POST">
                        <input type="hidden" name="reqid" value="<%= reqid %>" />
            <table border=1; >
                <tr>
                    <td>
                        <p>수정할 제목을 입력해주세요</p>
                    </td>
                    <td>
                        <p>수정할 본문을 입력해주세요</p>    
                    </td>  
                </tr>
                <tr>
                    
                    <td>
                        <input type="text" name="title" value="<%= title %>">
                    </td>
                
                    <td>
                        <input type="text" name="description" value="<%= description %>">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="button" type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>