<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write</title>
</head>
<body>
    <center>
        <form action="/notice2" method="POST">
        <p>제목을 입력해주세요</p>
        <br>
        <input type="text" name="title">
        <p>본문을 입력해주세요</div></p>
        <br>
        <textarea name="description" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit">
        </form>
    </center>
</body>
</html>