<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write</title>
</head>
<body>
    <center>
        <form action="/board/notice2" method="POST">
            <table>
                <tr>
                    <td>
                        <p>제목을 입력해주세요</p>
                    </td>
                    <td>
                        <p>본문을 입력해주세요</div></p>    
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="title">
                    </td>
                    <td>
                        <textarea name="description" cols="30" rows="10"></textarea>
                    </td>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
                
            </table>
        </form>
    </center>
</body>
</html>